/* 'Open sans' font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* 'Quicksand' font */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column;
  color: black;
}
nav {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
}
.menu > li {
  margin-right: 10px;
}
.logo {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 24px;
  align-self: center;
  margin-top: 15px;
  padding-bottom: 15px;
}
.banner {
  background-image: linear-gradient(
      rgba(121, 125, 148, 0.52),
      rgba(121, 125, 148, 0.52)
    ),
    url("media/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: space;
  color: white;
}
.button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #2196f3;
  border: 4px solid #2196f3;

  border: none;
  border-radius: 4px;

  padding: 16px 42px;
  font-weight: 800;
  cursor: pointer;

  text-decoration: none;
}
button:hover {
  background-color: #2196f3;
}
.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.description-container > h1 {
  font: normal;
  font-size: 48px;
  text-align: center;
  padding: 0 0 15px;
}
.description-container > h2 {
  padding: 0 0 40px;
}
.title {
  font-family: "Open Sans";
}
.pictures-container,
.features-container,
.reviews,
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  padding: 100px 50px;
  text-align: center;
}
.title {
  font-size: 32px;
  font: normal;
  margin-bottom: 35px;
}
.pictures-container > p,
.features-container > p {
  margin: 35px 20px;
  line-height: 2em;
}
hr {
  border: 1px solid #2196f3;
  background-color: #2196f3;
  margin-bottom: 80px;
  width: 150px;
}
.pictures {
  width: 100%;
}
.features-container,
.subscribe {
  background-color: #f7f7f7;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}
.features-container p {
  margin-bottom: 35px;
  line-height: 2em;
}
.features-container li {
  margin-bottom: 150px;
  padding: 20px;
  height: 250px;
}
.fa {
  color: #78b5e2;
  font-size: 350px;
}
.fa i {
  font-size: 350px;
}
.grid i {
  font-size: 50px;
  color: #2196f3;
  margin-bottom: 20px;
}
.features-container ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.features-container ul li {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 70%;
  height: 250px;
  color: #5f5555;
}
.quote {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555555;
  width: 80%;
}
.author {
  font-size: 16px;
  margin-bottom: 50px;
  color: #555555;
  width: 80%;
}
.subscribe > p {
  line-height: 2em;
  padding-bottom: 30px;
  color: #555555;
}
.subscribe > form {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.subscribe > form > input {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px;
}
.subscribe-form input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}
.subscribe-form > a {
  align-self: center;
}
footer {
  background-color: #414a4f;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.social-media {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.social-media i {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 15px;
}
footer > p {
  color: #b1b5b7;
  margin-bottom: 10px;
  font-size: 14px;
}
@media only screen and (min-width: 641px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px 0 100px;
  }
  .features-container ul {
    flex-flow: row;
  }

  .features-container ul li {
    flex-flow: column;
  }
  .subscribe > form {
    flex-direction: row;
  }

  .subscribe > form > input {
    font-size: 18px;
    padding: 10px;
    flex-basis: 550px;
    margin: 15px 30px 15px;
  }
}
